@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;700&display=swap");

.nav {
  border-bottom: 1px solid rgb(88, 86, 86);
  height: 70px;
  a {
    font-family: "Prompt", sans-serif;
  }
  button {
    font-family: "Prompt", sans-serif;
    font-weight: 700;
  }
}
